
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// _variables.scss

// Brand Colors
$main: #10574A; // Change this to your desired color
$dark-shades: #1E2425; // Change this to your desired color
$dark-accent: #213434; // Change this to your desired color
$light-shades: #D7E8F1; // Change this to your desired color
$light-accent: #DAE4EC; // Change this to your desired color

// Primary
$primary-bg-color: #DAE4EC; // Example primary background color
$primary-text-color: #1E2425; // Example primary text color

:root {
  --main_basic: #10574A;
  --dark-shades: #1E2425;
  --dark-accent: #213434;
  --light-shades: #D7E8F1;
  --light-accent: #DAE4EC;
}
html{
  &.default-theme{
    --main_basic: #10574A;
    --dark-shades: #1E2425;
    --dark-accent: #213434;
    --light-shades: #D7E8F1;
    --light-accent: #DAE4EC;
  }
  &.contrast1-theme{
    --main_basic: #10574A;
    --dark-shades: #1E2425;
    --dark-accent: #213434;
    --light-shades: #D7E8F1;
    --light-accent: #DAE4EC;
  }
  &.contrast2-theme{
    --main_basic: #10574A;
    --dark-shades: #1E2425;
    --dark-accent: #213434;
    --light-shades: #D7E8F1;
    --light-accent: #DAE4EC;
  }
}

.bg-main {
  background-color: $main;
}

body{
margin:0;
padding:0
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
