
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// _variables.scss

// Brand Colors
$main: #10574A; // Change this to your desired color
$kolor5: #1E2425; // Change this to your desired color
$kolor4: #213434; // Change this to your desired color
$kolor3: #94B9C9; // Change this to your desired color
$kolor3plus: #D7E8F1; // Change this to your desired color
$kolor2: #DAE4EC; // Change this to your desired color

// Primary
$primary-bg-color: #DAE4EC; // Example primary background color
$primary-text-color: #1E2425; // Example primary text color

:root {
  --main_basic: #10574A;
  --kolor5: #1E2425;
  --kolor4: #213434;
  --kolor3: #94B9C9;
  --kolor3plus: #D7E8F1;
  --kolor2: #DAE4EC;
}
html{
  .dart-theme{
    --main_basic: #10574A;
    --kolor5: #1E2425;
    --kolor4: #213434;
    --kolor3: #94B9C9;
    --kolor3plus: #D7E8F1;
    --kolor2: #DAE4EC;
  }
  .light-theme{
    --main_basic: #10574A;
    --kolor5: #1E2425;
    --kolor4: #213434;
    --kolor3: #94B9C9;
    --kolor3plus: #D7E8F1;
    --kolor2: #DAE4EC;
  }
  .contrast{
    --main_basic: #10574A;
    --kolor5: #1E2425;
    --kolor4: #213434;
    --kolor3: #94B9C9;
    --kolor3plus: #D7E8F1;
    --kolor2: #DAE4EC;
  }
}

.bg-main {
  background-color: $main;
}

body{
margin:0;
padding:0
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
