.movie-list-page {
  background-color: var(--light-shades);
}

.movie-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.movie {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
  max-width: 1400px;

  .movie__info {
    width: 50%;
  }

  .movie__poster {
    width: 20%;
    max-width: 20%;
  }

  .movie__rating {
    width: 10%;
  }

}


.movie-filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.movie-filter-filers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main_basic);
}
