
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// _variables.scss

// Brand Colors
$main: #F0720B; // Change this to your desired color
$dark-shades: #1C1B1F; // Change this to your desired color
$dark-accent: #956F48; // Change this to your desired color
$light-shades: #F5F3F0; // Change this to your desired color
$light-accent: #A09994; // Change this to your desired color

// Primary
$primary-bg-color: #f5f5f5; // Example primary background color
$primary-text-color: #333; // Example primary text color

:root {
  --main_basic: #F0720B;
  --dark-shades: #1C1B1F;
  --dark-accent: #956F48;
  --light-shades: #F5F3F0;
  --light-accent: #A09994;
}
html{
  .dart-theme{
    --main_basic: #F0720B;
    --dark-shades: #1C1B1F;
    --dark-accent: #956F48;
    --light-shades: #F5F3F0;
    --light-accent: #A09994;
  }
  .light-theme{
    --main_basic: #F0720B;
    --dark-shades: #1C1B1F;
    --dark-accent: #956F48;
    --light-shades: #F5F3F0;
    --light-accent: #A09994;
  }
  .contrast{
    --main_basic: #deb99c;
    --dark-shades: #2d2642;
    --dark-accent: #c48b51;
    --light-shades: #2e54ee;
    --light-accent: #3daf32;
  }
}

.bg-main {
  background-color: $main;
}

body{
margin:0;
padding:0
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
