.center {
    margin: auto;
    width: 50%;
}
.galery {
    margin: auto;
    width: 75%;
    text-align: left;
}
.list-group-item {
    text-align: center;
}
small {
    margin: auto;
    width: 25%;
    text-align: right;
}