.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 50% !important;
  width: 2.25rem;
  height: 2.25rem;
  padding: 1.5rem;
  text-align: center;
}

.a-letter-class{
  font-size: 1.5rem;
}

.rbs{
    background-color: var(--main_basic) !important;
    color: var(--light-shades) !important;
    .nav-item{
      color: var(--light-shades) !important;
      .nav-link{
        color: var(--light-shades) !important;
      }
    }
}

.dropdown-menu {
  &__container { padding: 20px; }
  &__heading { margin-bottom: 10px; }
  &__content {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__button { padding: 10px; }

  &__button-size {
    padding: 10px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.font-control-btn {
  background: #ccc;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.size-button-container {
  display: flex;
  justify-content: space-around;

  .dropdown-menu__button-size {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bg-main {
  background-color: var(--main_basic);
  color: var(--light-shades) !important;
}
